@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

body {
  font-family: "League Spartan", sans-serif;
  background-color: #333d4b;
}

p {
  margin-bottom: 0;
  font-size: 15px;
}

h1 {
  font-size: 64px;
  margin-bottom: 0;
  line-height: 40px;
}

h2 {
  font-size: 32px;
  margin-bottom: 0;
  line-height: 20px;
}

h3 {
  font-size: 24px;
  margin-bottom: 0;
}

.fs-15 {
  font-size: 15px;
}

.text-blue {
  color: #05cbeeca;
}

.text-grey {
  color: #ccc;
}

.max-w-650 {
  max-width: 650px;
}

.current-weather .card {
  width: 300px;
  height: 400px;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(to bottom right, #0581e7a2, #072ff456),
    url(../img/img-1-BkOV7qYq.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: -1px 2px 12px 3px #0003;
}

.forecast-weather {
  background-color: #22272d;
  border-top-right-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  gap: 10px;
  width: 350px;
  box-shadow: 1px 2px 12px 3px #0003;
}

.forecase-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.forecase-middle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.forecase-middle .item {
  height: 120px;
  background-color: #2a3145;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.forecase-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forecase-bottom input {
  font-size: 1rem;
  border-radius: 50px;
  width: 250px;
  outline: none;
  color: #ffff;
  border: none;
  padding: 15px;
  line-height: normal;
  background: linear-gradient(to bottom right, #05cbeeca, #072ff456);
}
.forecase-bottom input::placeholder {
  color: #ffff;
}

.grid-cols-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.spinner {
  width: 100px;
  height: 100px;
  position: relative;
  border: 15px solid #ffff;
  border-top-color: yellow;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.inset-0 {
  inset: 0;
}

@media screen and (max-width: 767.97px) {
  /* .row .col-12 {
    flex-direction: column;
  } */

  p {
    font-size: 14px;
  }

  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  .current-weather .card {
    width: 400px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .forecast-weather {
    width: 400px;
    border-radius: 0 !important;
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
  }
  .forecase-bottom input {
    width: 100%;
  }
}

@media screen and (max-width: 575.97px) {
  p {
    font-size: 12px;
  }
}
@media screen and (max-width: 425px) {
  .current-weather .card {
    width: 300px;
    height: auto;
  }
  .forecast-weather {
    width: 300px;
  }
  .spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ffff;
    border-top-color: yellow;
  }
}

@media screen and (max-width: 320px) {
  .current-weather .card {
    width: 250px;
  }
  .forecast-weather {
    width: 250px;
  }
}

@media screen and (max-width: 280px) {
  .current-weather .card {
    padding: 14px;
  }
  .forecast-weather {
    padding: 14px;
  }
}